* {
    margin: 0;
    padding: 0;
}
header {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 25px;
    align-items: center;
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background: #0f0f0f;
    padding: 25px;
}
.wrapper {
    background: #0f0f0f;
    padding: 25px;
}
nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
margin-left: 10px;

color: beige;
text-decoration: none;
}
h1 {
    color: beige;
}
.button {
    background: #0f0f0f
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .header {
    background: rgba(91, 92, 151, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
background: url(images/grass.png) 50% 53px no-repeat; /* Фоновый рисунок травы */
margin-top: -77px; /* Поднимаем вверх */
overflow: auto; /* Отменяем схлопывающиеся отступы */
position: relative; /* Относительное позиционирование */
}
.lion {
position: absolute; /* Абсолютное позиционирование */
left: 50%; /* По центру */
margin-left: -347px; /* Сдвигаем влево */
top: 3px; /* От верхнего края */
}
.footer-bg { 
background: rgb(8, 8, 8); /* Цвет фона подвала */
margin-top: 80px; /* Сдвигаем вниз */
}
.copyright {
width: 740px; /* Ширина макета без полей */
padding: 0 10px 10px; /* Поля */
margin: auto; /* Выравнивание по центру */
color: beige; /* Цвет текста */
}
.copyright p {
margin: 0 0 5px 170px; /* Отступы текста */ 
}